*{

    font-family: 'Urbanist', sans-serif;

}

body{

    background-color: black;
    overflow-x: hidden;

}

a{

    font-size: 12px;
    color: whitesmoke;

}

a:hover{

    color: white;

}

.shutter-text{

    font-size: 55px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;

}

.shutter-paragraph{

    font-size: 17px;
    color: whitesmoke;
    line-height: 10px;

}

.lorem-text{

    font-size: 53px;
    font-weight: bold;
    color: whitesmoke;

}

.lorem-paragraph{

    font-size: 14px;
    color: whitesmoke;

}

.distortion{

    height: 640px;
    width: 540px;
    position: relative;

}

.distortion:after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, black, transparent, transparent, black),
    linear-gradient(to right, black, transparent, transparent, black),
    linear-gradient(to bottom, black, transparent, transparent, black),
    linear-gradient(to left, black, transparent, transparent, black); 

}
